* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-y: visible;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: inherit;
}


/* !RESET */

.page {
    font-family: sans-serif;
    outline-color: RED;
}

.page__body {
    width: 1170px;
    margin: 0 auto;
    background-color: #b0e0e6;
    display: grid;
    grid-template-rows: 100px 1fr;
}

.header {
    margin-top: 30px;
    padding: 30px 40px;
    background-color: #2D728F;
}


/* !добавить h50px и transition при hover на элемах nav */

.nav__list {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
}

.nav__item {
    width: 22%;
    display: flex;
    align-items: center;
    text-align: center;
    background-color: #FFC9B5;
    border: 2px solid black;
    border-radius: 3px;
    flex-direction: row;
    justify-content: center;
}

.nav__item-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: black;
    font-weight: 600;
}

.main {}

.main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 50px;
    margin-top: 50px;
}

.main__subtask {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    padding: 30px;
    row-gap: 18px;
    background-color: #2D728f;
    border-bottom: 5px solid #2D728f;
    border-radius: 20px;
    box-shadow: 0px -5px 5px -5px rgba(18, 45, 56, 0.9);
}

.task__name {
    font-size: 3em;
    text-transform: uppercase;
}

.task__name-last::before {
    content: "*";
    color: red;
}

.subtask__name {
    font-size: 1.75em;
}

.subtask__button {
    height: 50px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #FFC9B5;
    color: black;
    font-weight: 600;
}

.subtask__input {
    width: 40%;
    height: 5vh;
    border-radius: 15px;
    font-size: 1.4em;
    padding: 0 2em;
    text-align: center;
}

.subtask__description {
    font-size: 1.5em;
}